@config "../tailwind.config.js";
@import "tailwindcss";

@keyframes progressCircle {
  to {
    stroke-dashoffset: 0;
  }
}
    @layer utilities {
      /* Chrome, Safari and Opera */
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }

      /* IE and Edge */
      .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    }